<script>
  // These conditions need to be broken out into methods with sane line counts and
  // branching logic. Definitely not done

  $(document).ready(function() {
    // toggle tooltips on
    if (!("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch)) {
      $('[data-toggle="tooltip"]').tooltip();
    }
  });

  // setup the pop up card image
  $(function() {
    $('.modal-pop').on('click', function(event) {
      event.preventDefault();
      mould_id = $(this).find('img').attr('card-mould_id');
      version = $(this).find('img').attr('card-version');
      name = $(this).find('img').attr('card-name');
      $('.card-image-modal').attr('src', $(this).find('img').attr('src'));
      $('.card-details').attr('href', `/cards/show/${mould_id}/${version}`);
      $('#card-image-modal').modal('show');

      if (window.location.pathname.startsWith('/decks/builder')) {
        console.log(event.target.id);
        if (event.target.id.startsWith('card-')) {
          document.getElementById('add-card').style.display = 'none';
          document.getElementById('remove-card').style.display = '';
        } else {
          document.getElementById('add-card').style.display = '';
          document.getElementById('remove-card').style.display = 'none';
        }
      } else {
        document.getElementById('add-card').style.display = 'none';
        document.getElementById('remove-card').style.display = 'none';
      }

      if (name == 'undefined') {
        $('.card-details').prop('disabled', true);
        $('.card-details').addClass('disabled');
        $('.card-name').text('Add a new card below');
        document.getElementById('add-card').style.display = 'none';
        document.getElementById('remove-card').style.display = 'none';
      } else {
        $('.card-details').prop('disabled', false);
        $('.card-details').removeClass('disabled');
        $('.card-name').text(name);
      }
    });
  });

  var allCards = <%= @all_cards.to_json.html_safe %>;
  <% if @cards.nil? %>
  var deckCards = <%= Array.new(30).to_json.html_safe %>;
  var heroFaction = null;
  <% else %>
  var deckCards = <%= @cards.to_json.html_safe %>;
  var heroFaction = "<%= @deck_faction %>";
  <% end %>
</script>

<style>
.col-1dot2,
.col-sm-1dot2,
.col-md-1dot2,
.col-lg-1dot2,
.col-xl-1dot2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1dot2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

@media (min-width: 300px) {
  .modal-dialog {
    width: 95%;
    height: 92%;
    padding: 0;
    max-width: 380px;
    min-height: 500px;
    max-height: 600px;
  }

  .modal-content {
    height: 99%;
  }

  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (min-width: 576px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: 16%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .modal-dialog {
    width: 500px;
  }
}
</style>

<div class="row">
  <% Array.new(30) do |card_place| %>
  <% if @cards.nil? %>
  <div class="col-1dot2 py-2">
    <div class="card">
      <a href="#" class="modal-pop">
        <img
          id="card-<%= card_place %>"
          class="card-img-top zbg-card-image"
          src="<%= image_url("empty-card.svg") %>"
          card-mould_id="null"
          card-version="null"
          card-name="null"
          card-empty="true"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Add a card below"
        >
      </a>
    </div>
  </div>
  <% else %>
  <% card = @cards[card_place] %>
  <div class="col-1dot2 py-2">
    <div class="card">
      <a href="#" class="modal-pop">
        <img
          id="card-<%= card_place %>"
          class="card-img-top zbg-card-image"
          src="<%= card.image_url %>"
          card-mould_id="<%= card.mould_id %>"
          card-version="<%= card.version %>"
          card-name="<%= card.name %>"
          card-empty="false"
          data-toggle="tooltip"
          data-placement="bottom"
          title="<%= card.name %>"
          onerror="this.src='<%= image_url("missing-card.svg") %>';"
        >
      </a>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<div class="modal" id="card-image-modal" tabindex="-1" role="dialog" aria-labelledby="card-image-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p class="lead card-name mr-auto"></p>
        <img
          src=""
          class="card-image-modal"
          style="width: 100%;"
        >
      </div>
      <div class="modal-footer">
        <button id="remove-card" class="btn btn-danger mr-auto">Remove</button>
        <button id="add-card" class="btn btn-success mr-auto">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="card-details btn btn-info" target="_blank">Card Details</a>
      </div>
    </div>
  </div>
</div>
