<script>
  $(document).ready(function() {
    // toggle tooltips on
    if (!("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch)) {
      $('[data-toggle="tooltip"]').tooltip();
    }
  });

  // setup the pop up card image
  $(function() {
    $('.modal-pop').on('click', function() {
      event.preventDefault();
      mould_id = $(this).find('img').attr('card-mould_id');
      version = $(this).find('img').attr('card-version');
      name = $(this).find('img').attr('card-name');
      $('.card-image-modal').attr('src', $(this).find('img').attr('src'));
      $('.card-details').attr('href', `/cards/show/${mould_id}/${version}`);
      $('.card-name').text(name);
      $('#card-image-modal').modal('show');
    });
  });
</script>

<style>
.col-1dot2,
.col-sm-1dot2,
.col-md-1dot2,
.col-lg-1dot2,
.col-xl-1dot2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1dot2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

@media (min-width: 300px) {
  .modal-dialog {
    width: 95%;
    height: 92%;
    padding: 0;
  }

  .modal-content {
    height: 99%;
    max-height: 700px;
  }

  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media (min-width: 576px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: 16%;
  }

  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .col-1dot2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .modal-dialog {
    width: 500px;
  }
}
</style>

</br>
<h2 class="text-center">Deck Builder</h2>

<div class="row">
  <% Array.new(30) do |card_place| %>
  <div class="col-1dot2 py-2">
    <div class="card">
      <% if @cards.nil? %>
      <img id="card-<%= card_place %>" class="card-img-top" src="<%= image_url("empty-card.svg") %>">
      <% else %>
      <% card = @cards[card_place] %>
      <a href="#" class="modal-pop">
        <img
          id="card-<%= card_place %>"
          class="card-img-top zbg-card-image"
          src="<%= card.image_url %>"
          card-mould_id="<%= card.mould_id %>"
          card-version="<%= card.version %>"
          card-name="<%= card.name %>"
          data-toggle="tooltip"
          data-placement="bottom"
          title="<%= card.name %>"
          onerror="this.src='<%= image_url("missing-card.svg") %>';"
        >
      </a>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<% unless @deck.nil? %>
<h2>Work in progress</h2>

<p>I want to have a copy to new functionality and have an existing deck view similar to the
deck builder</p>

<h3 class="text-center">API Details for Deck <%= @deck.id %></h3>

<p>I haven't figured out how to determine what overload is being used or what the
stregth and weaknesses are... so here's dump of the repsonse data.
<a href="https://zombiebattleground.io/index.php/Overlord" target="_blank">Wiki details for overlords</a>
</p>

<table class="table">
  <tr>
    <th>Deck ID (not to be confused with just 'ID')</th>
    <td><%= @deck.deck_id %>
  </tr>
  <tr>
    <th>Hero ID (I think this the overlord?..)</th>
    <td><%= @deck.hero_id %></td>
  </tr>
  <tr>
    <th>ID (the param used to query deck details)</th>
    <td><%= @deck.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @deck.name %></td>
  </tr>
  <tr>
    <th>Primary Skill ID (I think this the overlord strength)</th>
    <td><%= @deck.primary_skill_id %></td>
  </tr>
  <tr>
    <th>Secondary Skill ID (and this is the overload weakness)</th>
    <td><%= @deck.secondary_skill_id %></td>
  </tr>
  <tr>
    <th>Sender Address</th>
    <td><%= @deck.sender_address %></td>
  </tr>
  <tr>
    <th>Updated at</th>
    <td><%= @deck.updated_at %></td>
  </tr>
  <tr>
    <th>User ID</th>
    <td><%= @deck.user_id %></td>
  </tr>
  <tr>
    <th>Version</th>
    <td><%= @deck.version %></td>
  </tr>
</table>
<% end %>

<div class="modal" id="card-image-modal" tabindex="-1" role="dialog" aria-labelledby="card-image-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img
          src=""
          class="card-image-modal"
          style="width: 100%;"
        >
      </div>
      <div class="modal-footer">
        <p class="lead card-name mr-auto">Name</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="card-details btn btn-primary" target="_blank">Card Details</a>
      </div>
    </div>
  </div>
</div>
