<script>
  $(document).ready(function() {
    // toggle tooltips on
    if (!("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch)) {
      $('[data-toggle="tooltip"]').tooltip();
    }
  });

  // setup the pop up card image
  $(function() {
    $('.modal-pop').on('click', function() {
      event.preventDefault();
      mould_id = $(this).find('img').attr('card-mould_id');
      version = $(this).find('img').attr('card-version');
      name = $(this).find('img').attr('card-name');
      $('.card-image-modal').attr('src', $(this).find('img').attr('src'));
      $('.card-details').attr('href', `/cards/show/${mould_id}/${version}`);
      $('.card-name').text(name);
      $('#card-image-modal').modal('show');
    });
  });
</script>

<style>
@media (min-width: 300px) {
  .card-columns {
    column-count: 3;
  }
  .modal-dialog {
    width: 340px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 4;
  }
  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 5;
  }
  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 6;
  }
  .modal-dialog {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 10;
  }
  .modal-dialog {
    width: 500px;
  }
}
</style>

</br>
<h2 class="text-center">"<%= @deck.name %>" - Deck ID <%= @deck.id %></h2>
<h4 class="text-center"> - <%= @deck.user_id %></h2>

<a href="/decks/builder/from/<%= @deck.id %>"><h3 class="text-center">Load in Deck Builder</h3></a>

</br>
<h5 class="text-center">To do: Make this more presentable... (and figure out how to translate abilities)</h5>
</br>
<p class="text-center">Deck Faction: <%= @deck_faction %></p>
<p class="text-center">Hero Ability Primary: <%= @deck.primary_skill_id %></p>
<p class="text-center">Hero Ability Secondary: <%= @deck.secondary_skill_id %></p>

<div class="card-columns">
  <% Array.new(30) do |card_place| %>
  <% card = @cards[card_place] %>
  <div class="card">
    <a href="#" class="modal-pop">
      <img
        id="card-<%= card_place %>"
        class="card-img-top zbg-card-image"
        src="<%= card.image_url %>"
        card-mould_id="<%= card.mould_id %>"
        card-version="<%= card.version %>"
        card-name="<%= card.name %>"
        data-toggle="tooltip"
        data-placement="bottom"
        title="<%= card.name %>"
        onerror="this.src='/assets/missing-card.svg';"
      >
    </a>
  </div>
  <% end %>
</div>

<div class="modal" id="card-image-modal" tabindex="-1" role="dialog" aria-labelledby="card-image-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img
          src=""
          class="card-image-modal"
          style="width: 100%;"
        >
      </div>
      <div class="modal-footer">
        <p class="lead card-name mr-auto">Name</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="card-details btn btn-primary" target="_blank">Card Details</a>
      </div>
    </div>
  </div>
</div>
