</br>
<h2 class="text-center">"<%= @deck.name %>" - Deck ID <%= @deck.id %></h2>
<h4 class="text-center"> - <%= @deck.user_id %></h2>

<a href="/decks/builder/from/<%= @deck.id %>"><h3 class="text-center">Load in Deck Builder</h3></a>

</br>
<h5 class="text-center">To do: Make this more presentable... (and figure out how to translate abilities)</h5>
</br>
<p class="text-center">Deck Faction: <%= @deck_faction %></p>
<p class="text-center">Hero Ability Primary: <%= @deck.primary_skill_id %></p>
<p class="text-center">Hero Ability Secondary: <%= @deck.secondary_skill_id %></p>

<%= render('decks/deck_panel') %>
